In [3]:
from financialtoolkit import Toolkit

In [4]:
companies = Toolkit(["AAPL", "MSFT"], "a015eaace08a8d46cfd49c849258a2bd")

In [5]:
ratios = companies.ratios

The following data was not provided within the Toolkit class and thus was retrieved from FinancialModelingPrep: Balance Sheet Statement, Income Statement, Cash Flow Statement.

array([[ 37.951183,  71.711746, 130.735336, 176.032745, 129.552719],
       [ 97.062683, 152.930115, 217.977539, 332.365417, 239.220825]])

In [39]:
companies._yearly_historical_data.loc[
    "2018":"2022", "Adj Close"
].T.values * companies.get_income_statement().loc[:, "Weighted Average Shares", :]

date,2018,2019,2020,2021,2022
AAPL,752249677443.963989,1324611755512.656006,2268535107776.983887,2939970755151.640137,2100822097853.396973
MSFT,747382659100.0,1173432772395.0,1658809071790.0,2508361802099.0,1793199304200.0

In [31]:
companies.get_income_statement().loc[:, "Weighted Average Shares", :]

date         2018         2019         2020         2021         2022
AAPL  19821508000  18471336000  17352119000  16701272000  16215963000
MSFT   7700000000   7673000000   7610000000   7547000000   7496000000

In [34]:
companies._yearly_historical_data.loc['2018':'2022', 'Adj Close'] *

      AAPL  MSFT 2018 2019 2020 2021 2022
2018   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2019   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2020   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2021   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2022   NaN   NaN  NaN  NaN  NaN  NaN  NaN
AAPL   NaN   NaN  NaN  NaN  NaN  NaN  NaN
MSFT   NaN   NaN  NaN  NaN  NaN  NaN  NaN

In [2]:
apple = fa.balance_sheet_statement("AAPL", "a015eaace08a8d46cfd49c849258a2bd")
msft = fa.balance_sheet_statement("MSFT", "a015eaace08a8d46cfd49c849258a2bd")

In [3]:
from financialtoolkit.base.helpers import combine_dataframes
from financialtoolkit.base.models import normalization_model

In [4]:
import pandas as pd

In [5]:
dataset = combine_dataframes(["AAPL", "MSFT"], apple, msft)

In [8]:
normalization_file = normalization_model.read_normalization_file("balance")

In [11]:
normalization_model.convert_financial_statement(dataset, normalization_file)

IndexingError: Too many indexers

In [17]:
dataset.index.unique(level=1)

Index(['reportedCurrency', 'cik', 'fillingDate', 'acceptedDate',
       'calendarYear', 'period', 'cashAndCashEquivalents',
       'shortTermInvestments', 'cashAndShortTermInvestments', 'netReceivables',
       'inventory', 'otherCurrentAssets', 'totalCurrentAssets',
       'propertyPlantEquipmentNet', 'goodwill', 'intangibleAssets',
       'goodwillAndIntangibleAssets', 'longTermInvestments', 'taxAssets',
       'otherNonCurrentAssets', 'totalNonCurrentAssets', 'otherAssets',
       'totalAssets', 'accountPayables', 'shortTermDebt', 'taxPayables',
       'deferredRevenue', 'otherCurrentLiabilities', 'totalCurrentLiabilities',
       'longTermDebt', 'deferredRevenueNonCurrent',
       'deferredTaxLiabilitiesNonCurrent', 'otherNonCurrentLiabilities',
       'totalNonCurrentLiabilities', 'otherLiabilities',
       'capitalLeaseObligations', 'totalLiabilities', 'preferredStock',
       'commonStock', 'retainedEarnings',
       'accumulatedOtherComprehensiveIncomeLoss',
       'othertotalStockholdersEquity', 'totalStockholdersEquity',
       'totalEquity', 'totalLiabilitiesAndStockholdersEquity',
       'minorityInterest', 'totalLiabilitiesAndTotalEquity',
       'totalInvestments', 'totalDebt', 'netDebt', 'link', 'finalLink'],
      dtype='object')

In [16]:
dataset.loc[:, "totalEquity", :]

              2022          2021          2020          2019          2018
AAPL   50672000000   63090000000   65339000000   90488000000  107147000000
MSFT  166542000000  141988000000  118304000000  102330000000   82718000000

In [18]:
def convert_financial_statements(
    financial_statements: pd.DataFrame,
    statement_format: pd.DataFrame = pd.DataFrame(),
    reverse_dates: bool = False,
):
    """
    Converts financial statements (balance, income, or cash flow statements) based on custom input
    and returns a DataFrame containing the data with the correct naming.

    Args:
        financial_statements (pd.DataFrame): DataFrame containing the financial statement data.
        format (pd.DataFrame): Optional DataFrame containing the names of the financial statement line items to include
                            in the output. Rows should contain the original name of the line item, and columns should
                            contain the desired name for that line item.

    Returns:
        pd.DataFrame: A DataFrame containing the financial statement data. If only one ticker is provided, the
                    returned DataFrame will have a single column containing the data for that company.
    """
    naming = {}

    if statement_format.empty:
        raise ValueError("Please provide a non-empty format DataFrame.")

    for name in financial_statements.index.unique(level=1):
        try:
            naming[name] = statement_format.loc[name]
        except KeyError:
            continue

    # Select only the columns it could trace back to the format
    financial_statements = financial_statements.loc[:, list(naming.keys()), :]
    financial_statements = financial_statements.rename(index=naming)

    if reverse_dates:
        financial_statements = financial_statements[financial_statements.columns[::-1]]

    return financial_statements

In [21]:
convert_financial_statements(dataset, normalization_file).loc["MSFT"]

,2022,2021,2020,2019,2018
Cash and Cash Equivalents,13931000000,14224000000,13576000000,11356000000,11946000000
Short Term Investments,90826000000,116110000000,122951000000,122463000000,121822000000
Cash and Short Term Investments,104757000000,130334000000,136527000000,133819000000,133768000000
Accounts Receivable,44261000000,38043000000,32011000000,29524000000,26481000000
Inventory,3742000000,2636000000,1895000000,2063000000,2662000000
Other Current Assets,16924000000,13393000000,11482000000,10146000000,6751000000
Current Assets,169684000000,184406000000,181915000000,175552000000,169662000000
"Property, Plant and Equipment",87546000000,70803000000,52904000000,43856000000,36146000000
Goodwill,67524000000,49711000000,43351000000,42026000000,35683000000
Intangible Assets,11298000000,7800000000,7038000000,7750000000,8053000000
Long Term Investments,6891000000,5984000000,2965000000,2649000000,1862000000
Tax Assets,0,0,0,0,0
Other Fixed Assets,21897000000,15075000000,13138000000,14723000000,7442000000
Fixed Assets,195156000000,149373000000,119396000000,111004000000,89186000000
Other Assets,0,0,0,0,0
Total Assets,364840000000,333779000000,301311000000,286556000000,258848000000
Accounts Payable,19000000000,15163000000,12530000000,9382000000,8617000000
Short Term Debt,2749000000,8072000000,3749000000,5516000000,3998000000
Tax Payables,4067000000,2174000000,2130000000,5665000000,2121000000
Deferred Revenue,45538000000,41525000000,36000000000,32676000000,28905000000
Other Current Liabilities,27795000000,23897000000,20031000000,21846000000,14847000000
Total Current Liabilities,95082000000,88657000000,72310000000,69420000000,58488000000
Long Term Debt,58521000000,59703000000,67249000000,72850000000,77810000000
Deferred Revenue Non Current,2870000000,2616000000,3180000000,4530000000,3815000000
Deferred Tax Liabilities,230000000,198000000,204000000,233000000,541000000
Other Non Current Liabilities,35929000000,38374000000,58418000000,67232000000,35476000000
Total Non Current Liabilities,103216000000,103134000000,110697000000,114806000000,117642000000
Other Liabilities,0,0,0,0,0
Capital Lease Obligations,11489000000,9629000000,7671000000,6188000000,5568000000
Total Liabilities,198298000000,191791000000,183007000000,184226000000,176130000000
Preferred Stock,0,0,0,0,0
Common Stock,86939000000,83111000000,80552000000,78520000000,71223000000
Retained Earnings,84281000000,57055000000,34566000000,24150000000,13682000000
Accumulated Other Comprehensive Income,-4678000000,1822000000,3186000000,-340000000,-2187000000
Other Total Shareholder Equity,0,0,0,0,0
Total Shareholder Equity,166542000000,141988000000,118304000000,102330000000,82718000000
Total Equity,166542000000,141988000000,118304000000,102330000000,82718000000
Total Liabilities and Shareholder Equity,364840000000,333779000000,301311000000,286556000000,258848000000
Minority Interest,0,0,0,0,0
Total Liabilities and Equity,364840000000,333779000000,301311000000,286556000000,258848000000
Total Investments,97709000000,122094000000,125916000000,125112000000,123684000000
Total Debt,61270000000,67775000000,70998000000,78366000000,81808000000
Net Debt,47339000000,53551000000,57422000000,67010000000,69862000000

In [9]:
dataset = Toolkit(["AAPL", "MSFT"], balance=dataset)

In [13]:
dataset.get_balance_sheet_statement()

                                              2022          2021  \
AAPL Cash and Cash Equivalents         23646000000   34940000000
     Short Term Investments            24658000000   27699000000
     Cash and Short Term Investments   48304000000   62639000000
     Accounts Receivable               60932000000   51506000000
     Inventory                          4946000000    6580000000
...                                            ...           ...
MSFT Minority Interest                           0             0
     Total Liabilities and Equity     364840000000  333779000000
     Total Investments                 97709000000  122094000000
     Total Debt                        61270000000   67775000000
     Net Debt                          47339000000   53551000000

                                              2020          2019          2018
AAPL Cash and Cash Equivalents         38016000000   48844000000   25913000000
     Short Term Investments            52927000000   51713000000   40388000000
     Cash and Short Term Investments   90943000000  100557000000   66301000000
     Accounts Receivable               37445000000   45804000000   48995000000
     Inventory                          4061000000    4106000000    3956000000
...                                            ...           ...           ...
MSFT Minority Interest                           0             0             0
     Total Liabilities and Equity     301311000000  286556000000  258848000000
     Total Investments                125916000000  125112000000  123684000000
     Total Debt                        70998000000   78366000000   81808000000
     Net Debt                          57422000000   67010000000   69862000000

[86 rows x 5 columns]