![Finance Toolkit](https://github.com/JerBouma/FinanceToolkit/assets/46355364/198d47bd-e1b3-492d-acc4-5d9f02d1d009)

**The FinanceToolkit** is an open-source toolkit in which all relevant financial ratios (50+), indicators and performance measurements are written down in the most simplistic way allowing for complete transparency of the calculation method. This allows you to not have to rely on metrics from other providers and, given a financial statement, allow for efficient manual calculations. This leads to one uniform method of calculation being applied that is available and understood by everyone.

# Installation
To install the FinanceToolkit it simply requires the following:

```
pip install financetoolkit -U
```

The dependencies of the package are on purpose *very slim* so that it will work well with any combination of packages and not result in conflicts.

In [1]:
import pandas as pd
import numpy as np

While the `Toolkit` package itself is class-based, this doesn't mean that you are unable to call each functionality individually as well. This accepts virtually any input, from `np.array` to `pd.Series` and regular `floats`.

In [2]:
from financetoolkit.ratios import efficiency_model
from financetoolkit.technical import momentum_model


efficiency_model.get_asset_turnover_ratio(
    sales=pd.Series([100, 110, 120, 130, 80]),
    total_assets_begin=pd.Series([500, 400, 300, 200, 100]),
    total_assets_end=pd.Series([500, 430, 320, 200, 100]),
)

momentum_model.get_balance_of_power(
    prices_open=pd.Series([100, 105, 113, 126, 148]),
    prices_high=pd.Series([110, 115, 130, 150, 103]),
    prices_low=pd.Series([100, 103, 120, 140, 95]),
    prices_close=pd.Series([105, 113, 126, 148, 100]),
)

0    0.500000
1    0.666667
2    1.300000
3    2.200000
4   -6.000000
dtype: float64

It is also relatively straight forward to group a selection of ratios into one DataFrame.

In [3]:
from financetoolkit.ratios import (
    efficiency_model,
    liquidity_model,
    profitability_model,
    solvency_model,
    valuation_model,
)

# Note: this is dummy data, not actual data

asset_turnover = efficiency_model.get_asset_turnover_ratio(
    sales=pd.Series([100, 110, 120, 130, 80]),
    total_assets_begin=pd.Series([500, 400, 300, 200, 100]),
    total_assets_end=pd.Series([500, 430, 320, 200, 100]),
)

quick_ratio = liquidity_model.get_quick_ratio(
    cash_and_equivalents=pd.Series([100, 110, 120, 130, 80]),
    accounts_receivable=pd.Series([30, 20, 30, 20, 40]),
    marketable_securities=pd.Series([30, 10, 30, 20, 40]),
    current_liabilities=pd.Series([130, 120, 110, 150, 100]),
)

return_on_assets = profitability_model.get_return_on_assets(
    net_income=pd.Series([80, 40, 40, 30, 20]),
    total_assets_begin=pd.Series([150, 200, 300, 400, 500]),
    total_assets_end=pd.Series([200, 300, 400, 500, 450]),
)

debt_to_assets = solvency_model.get_debt_to_assets_ratio(
    total_debt=pd.Series([100, 110, 120, 130, 80]),
    total_assets=pd.Series([200, 140, 160, 160, 300]),
)

price_to_earnings = valuation_model.get_price_earnings_ratio(
    stock_price=pd.Series([30, 11, 12, 10, 30]),
    earnings_per_share=pd.Series([0.5, 0.4, 0.1, 1.1, 1.2]),
)

components = {
    "Asset Turnover": asset_turnover,
    "Quick Ratio": quick_ratio,
    "Return on Assets": return_on_assets,
    "Debt to Assets": debt_to_assets,
    "Price to Earnings": price_to_earnings,
}


pd.DataFrame(components)

,Asset Turnover,Quick Ratio,Return on Assets,Debt to Assets,Price to Earnings
0,0.200000,1.230769,0.457143,0.500000,60.000000
1,0.265060,1.166667,0.160000,0.785714,27.500000
2,0.387097,1.636364,0.114286,0.750000,120.000000
3,0.650000,1.133333,0.066667,0.812500,9.090909
4,0.800000,1.600000,0.042105,0.266667,25.000000

The Dupont analysis functionality was filled with actual data from Apple and therefore it returns the results that closely match their actual metrics given the reporting dates in October.

In [4]:
from financetoolkit.models import dupont_model

years = [2018, 2019, 2020, 2021, 2022]

dupont_model.get_dupont_analysis(
    net_income=pd.Series(
        [59531000000, 55256000000, 57411000000, 94680000000, 99803000000], index=years
    ),
    total_revenue=pd.Series(
        [265595000000, 260174000000, 274515000000, 365817000000, 394328000000],
        index=years,
    ),
    total_assets_begin=pd.Series(
        [np.nan, 365725000000, 338516000000, 323888000000, 351002000000],
        index=years,
    ),
    total_assets_end=pd.Series(
        [365725000000, 338516000000, 323888000000, 351002000000, 352755000000],
        index=years,
    ),
    total_equity_begin=pd.Series(
        [np.nan, 107147000000, 90488000000, 65339000000, 63090000000], index=years
    ),
    total_equity_end=pd.Series(
        [107147000000, 90488000000, 65339000000, 63090000000, 50672000000], index=years
    ),
)

                       2018      2019      2020      2021      2022
Net Profit Margin  0.224142  0.212381  0.209136  0.258818  0.253096
Asset Turnover          NaN  0.738878  0.828845  1.084079  1.120637
Equity Multiplier       NaN  3.563342  4.250894  5.254966  6.186222
Return on Equity        NaN  0.559172  0.736856  1.474433  1.754593

Furthermore, given the fact that the package collects data from multiple sources, it is also possible to collect the data of those individual functions instead of via the `Toolkit` class. As an example, obtaining the dataset from Fama and French as also found here: https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

In [5]:
from financetoolkit.performance import performance_model

performance_model.obtain_fama_and_french_dataset()

            Mkt-RF   SMB   HML   RMW   CMA     RF
Date
1963-07-01   -0.67  0.02 -0.35  0.03  0.13  0.012
1963-07-02    0.79 -0.28  0.28 -0.08 -0.21  0.012
1963-07-03    0.63 -0.18 -0.10  0.13 -0.25  0.012
1963-07-05    0.40  0.09 -0.28  0.07 -0.30  0.012
1963-07-08   -0.63  0.07 -0.20 -0.27  0.06  0.012
...            ...   ...   ...   ...   ...    ...
2023-10-25   -1.58 -0.02  0.84  1.50  0.20  0.021
2023-10-26   -1.15  1.19  1.66 -0.76  0.48  0.021
2023-10-27   -0.53 -0.58 -0.57  0.42 -0.96  0.021
2023-10-30    1.15 -0.34  0.28 -0.14  0.17  0.021
2023-10-31    0.63  0.06 -0.08 -0.83  0.06  0.021

[15188 rows x 6 columns]

Or macro-economic data such as the Consumer Price Index (CPI) from OECD.

In [6]:
from financetoolkit.economics import oecd_model

oecd_model.get_consumer_price_index(period='quarterly', inflation_type='total')

,Australia,Austria,Belgium,Brazil,Canada,Chile,China,Colombia,Costa Rica,Czech Republic,...,Slovakia,Slovenia,South Africa,South Korea,Spain,Sweden,Switzerland,Turkey,United Kingdom,United States
1914Q1,NaN,NaN,NaN,NaN,4.740585,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914Q2,NaN,NaN,NaN,NaN,4.714248,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914Q3,NaN,NaN,NaN,NaN,4.714248,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914Q4,NaN,NaN,NaN,NaN,4.819594,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915Q1,NaN,NaN,NaN,NaN,4.819594,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022Q3,119.2477,122.4411,123.0032,148.2647,120.726900,136.7678,115.1527,141.9720,NaN,137.5667,...,128.0449,119.0633,143.4455,114.6556,117.6688,120.4526,104.8658,391.8836,121.8,125.0621
2022Q4,121.4767,125.2886,126.8056,149.3866,121.385300,139.8549,115.2643,145.7082,NaN,137.5667,...,131.6340,120.0067,144.6157,115.1124,117.5796,124.2429,104.8175,425.6717,124.8,125.5212
2023Q1,123.1484,127.6314,126.3464,152.2088,122.122700,142.1502,115.5246,152.1153,NaN,147.0667,...,137.0992,121.3033,146.2361,116.3247,118.2873,126.1013,105.8744,475.1565,125.9,126.8328
2023Q2,124.1700,129.6859,125.9401,154.4831,123.939900,143.6284,114.7437,155.8206,NaN,147.6333,...,139.4851,124.8800,148.5316,117.0310,119.8445,128.3577,106.4415,505.5587,128.9,128.3451
2023Q3,125.6559,130.7673,127.3474,155.0760,125.177800,144.4710,115.0784,158.1563,NaN,148.6333,...,139.4443,126.8733,150.6470,118.2503,120.9846,129.7491,106.5485,612.1086,129.5,129.4571